# Compilati di Java
*.class
*.log
*.jar
*.war
*.ear

# Cartelle di build
bin/
build/
target/
out/

# Impostazioni di IntelliJ IDEA
.idea/
*.iml
*.iws

# Impostazioni di Eclipse
.settings/
.project
.classpath

# Impostazioni di NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# File del sistema operativo
.DS_Store
Thumbs.db